node_modules/
android/
ios/
android/.gradle/
android/.cxx/
android/app/.cxx/
android/app/build/
android/build/
ios/build/
ios/Pods/
.expo/
.expo-shared/
dist/
web-build/
.metro-cache/
*.log
*.tsbuildinfo
*.iml
*.orig.*
*.pem
.DS_Store
.vscode/
.idea/
.env
.env.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
